Repository kevin218/Eureka, pull requests merged in 2024-12, with the labels that each got.

#726 Save background model at source position and stddev of background counts in S3, create background lightcurves in S4
  src/eureka/S3_data_reduction/background.py
  src/eureka/S4_generate_lightcurves/plots_s4.py
  src/eureka/S4_generate_lightcurves/s4_genLC.py
Labels: enhancement

#720 NIRISS/SOSS data reduction pipeline
  demos/JWST/S3_niriss_soss_template.ecf
  demos/JWST/S4_template.ecf
  docs/media/S4_template.ecf
  environment.yml
  environment_pymc3.yml
  setup.cfg
  src/eureka/S1_detector_processing/s1_process.py
  src/eureka/S2_calibrations/s2_calibrate.py
  src/eureka/S3_data_reduction/background.py
  src/eureka/S3_data_reduction/bright2flux.py
  src/eureka/S3_data_reduction/miri.py
  src/eureka/S3_data_reduction/nircam.py
  src/eureka/S3_data_reduction/niriss.py
  src/eureka/S3_data_reduction/nirspec.py
  src/eureka/S3_data_reduction/optspex.py
  src/eureka/S3_data_reduction/plots_s3.py
  src/eureka/S3_data_reduction/s3_meta.py
  src/eureka/S3_data_reduction/s3_reduce.py
  src/eureka/S3_data_reduction/sigrej.py
  src/eureka/S3_data_reduction/straighten.py
  src/eureka/S3_data_reduction/wfc3.py
  src/eureka/S4_generate_lightcurves/generate_LD.py
  src/eureka/S4_generate_lightcurves/s4_genLC.py
  src/eureka/S4_generate_lightcurves/s4_meta.py
  src/eureka/S5_lightcurve_fitting/fitters.py
  src/eureka/S5_lightcurve_fitting/limb_darkening_fit.py
  src/eureka/S5_lightcurve_fitting/s5_fit.py
  src/eureka/S6_planet_spectra/s6_spectra.py
Labels: NIRISS

#559 Adding the option to impose positive values on fitted eclipse maps
  demos/HST/S5_wfc3_template.ecf
  demos/HST/s5_fit_par_wfc3_template.epf
  demos/JWST/S5_fit_par_template.epf
  demos/JWST/S5_template.ecf
  docs/media/S5_fit_par_template.epf
  docs/media/S5_template.ecf
  docs/source/ecf.rst
  src/eureka/S3_data_reduction/plots_s3.py
  src/eureka/S3_data_reduction/s3_reduce.py
  src/eureka/S4_generate_lightcurves/s4_genLC.py
  src/eureka/S5_lightcurve_fitting/differentiable_models/AstroModel.py
  src/eureka/S5_lightcurve_fitting/differentiable_models/PyMC3Models.py
  src/eureka/S5_lightcurve_fitting/differentiable_models/StarryModel.py
  src/eureka/S5_lightcurve_fitting/gradient_fitters.py
  src/eureka/S5_lightcurve_fitting/models/AstroModel.py
  src/eureka/S5_lightcurve_fitting/plots_s5.py
  src/eureka/S5_lightcurve_fitting/s5_fit.py
  src/eureka/S5_lightcurve_fitting/s5_meta.py
  src/eureka/lib/naninterp1d.py
  src/eureka/lib/util.py
  tests/conftest.py
  tests/test_Photometry_NIRCam.py
  tests/test_lightcurve_fitting.py
Labels: enhancement, LC Fit

#727 Allowing fixing/constraining spotcon to an input model file
  demos/HST/S5_wfc3_template.ecf
  demos/JWST/S5_template.ecf
  docs/media/S5_template.ecf
  docs/source/ecf.rst
  src/eureka/S5_lightcurve_fitting/differentiable_models/StarryModel.py
  src/eureka/S5_lightcurve_fitting/models/BatmanModels.py
  src/eureka/S5_lightcurve_fitting/models/FleckModel.py
  src/eureka/S5_lightcurve_fitting/s5_fit.py
  src/eureka/S5_lightcurve_fitting/s5_meta.py
Labels: enhancement, LC Fit
